
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  outline: none;
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


html { overflow-y: scroll; }

body { 
  background: #eee;
  font-family: Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-size: 75%;
  line-height: 1;
  color: #585858;
  padding: 20px 10px 50px 10px;
}

::selection { background: #5f74a0; color: #fff; }
::-moz-selection { background: #5f74a0; color: #fff; }
::-webkit-selection { background: #5f74a0; color: #fff; }

br { display: block; line-height: 1.6em; } 

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { display: block; }
ol, ul { list-style: none; }

input, textarea { 
  -webkit-font-smoothing: antialiased;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  outline: none; 
}

blockquote, q { quotes: none; }
blockquote:before, blockquote:after, q:before, q:after { content: ''; content: none; }
strong, b { font-weight: bold; } 

table { border-collapse: collapse; border-spacing: 0; }

img { border: 0; max-width: 100%; }

h1 { 
  font-family: Tahoma, sans-serif;
  font-weight: bold;
  font-size: 3.6em;
  line-height: 1.7em;
  margin-bottom: 15px;
  text-align: center;
}


/** page structure **/
#wrapper {
  display: block;
  background: #fff;
  width: 1500px;
  margin: 0 auto;
  padding: 10px 17px;
}

#warStats, #playerStats {
  margin: 0 auto;
  font-size: 1.2em;
  margin-bottom: 15px;
}

#warStats thead, #playerStats thead {
  cursor: pointer;
  background: #c9dff0;
}

#warStats thead tr th, #playerStats thead tr th { 
  font-weight: bold;
  vertical-align: middle;
  padding: 12px 22px 12px 22px;
}


#warStats thead tr th.headerSortUp, #warStats thead tr th.headerSortDown,
#playerStats thead tr th.headerSortUp, #playerStats thead tr th.headerSortDown {
  color: darkred;
  background: #acc8dd;
  border-bottom-color: green;
}

#warStats thead tr th.headerSortUp span, #playerStats thead tr th.headerSortUp span {
  background: url('img/uparrow.png') right center no-repeat;
  padding-right: 20px;

}
#warStats thead tr th.headerSortDown span, #playerStats thead tr th.headerSortDown span {
  background-image: url('img/downarrow.png')  right center no-repeat;
  padding-right: 20px;

}

#warStats tbody tr.even, #playerStats tbody tr.even { 
  color: #555;
  background: #fff;
}

#warStats tbody tr.odd, #playerStats tbody tr.odd {
  color: #555;
  background: rgb(250, 250, 250);
}

#warStats tbody tr td, #playerStats tbody tr td {
  text-align: center;
  padding: 15px 10px;
}

#warStats tbody tr td.lalign, #playerStats tbody tr td.lalign {
  font-weight: bold;
  text-align: left;
}